<h1>Hey!</h1>
<strong>Go buy this:</strong> <font color="#0000FF"> <%= @item.name %></font>
<table style="background: #000000">
	<tr>
		<td>
			<font color="#FFFFFF">
				Oh! And make sure to get <%= @item.quantity || 1 %> of them.
			</font>
		</td>
	</tr>
</table>